<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= private_meta_tag(@conn) %>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <title><%= title(@conn, "The Fediverse Network") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= if Fd.build_env() == :dev do %>
      <div style="background-color: #faa; border: 2px solid #f00; border-left: none; border-right:none; padding:8px;
      font-family: sans-serif; font-weight: 100; transform: rotate(-32deg); text-align: center; position: fixed;
      top: 32px; left: -164px; width: 512px; color: #a00; box-shadow: 0 0 5px 0 rgba(255,0,0,0.75);">DEVELOPMENT</div>
    <% end %>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="float-md-right">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/">instances</a></li>
            <li class="nav-item"><a class="nav-link" href="/tld">TLDs</a></li>
            <li class="nav-item"><a class="nav-link" href="/manage" title="Manage your instance: Enable monitoring or hide from listings">manage</a></li>
          </ul>
        </nav>
        <h1><a href="/"><img src="<%= static_path(@conn, "/images/logo.svg") %>"/>&nbsp;fediverse network</a></h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


      <footer role="footer">
        <p class="text-muted">
          <a href="/about">About</a>.
          &nbsp;
          <a href="https://write.random.sh/fediversenetwork/">Changelog & updates</a>.
          &nbsp;
          <a href="/checks">Latest checks</a>.
          &nbsp;
          <a href="/monitoring">Instance monitoring</a>.
          &nbsp;
          <br />
          <br />
          <strong>Follow on the fediverse:</strong><br/>
          <strong><%= remote_follow(@conn, "watch", "@watch@fediverse.network", class: "btn btn-link") %></strong> <i>(new instances, upgrades, …)</i>
            &nbsp;-&nbsp;
            <%= remote_follow(@conn, "monitoring", "@monitoring@fediverse.network", class: "btn btn-link") %> <i>(watch + up/down)</i>
          </small>
          </p>
      </footer>
    </div> <!-- /container -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.adm.random.sh/";
        _paq.push(['setTrackerUrl', u+'/js/index.php']);
        _paq.push(['setSiteId', '12']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/js/p.min.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <img src="https://matomo.adm.random.sh/js/index.php?idsite=12&rec=1" style="border:0" alt="" />

  </body>
</html>
