<div class="float-md-right">
  <%= link "summary", to: instance_path(@conn, :show, @instance), class: "btn btn-default #{active_section_class(@conn, "summary")}" %>
  <%= link "stats", to: instance_instance_path(@conn, :stats, @instance), class: "btn btn-default #{active_section_class(@conn, "stats")}" %>
  <%= link "checks", to: instance_instance_path(@conn, :checks, @instance), class: "btn btn-default #{active_section_class(@conn, "checks")}" %>
  <%= if @instance.server == 2 || @instance.server == 3 do %>
    <%= link "timeline", to: instance_instance_path(@conn, :timeline, @instance), class: "btn btn-default #{active_section_class(@conn, "timeline")}" %>
  <% end %>
  <%= link(idna(@instance.domain) <> " ❯", to: "https://#{@instance.domain}", class: "btn btn-default") %>
</div>
<h2>
<%= link name(@instance, domain: false), to: instance_path(@conn, :show, @instance), class: "hidden-link" %>
  <%= if @instance.dead do %>
    <span class="badge smaller badge-pill badge-danger">CLOSED</span>
  <% else %>
    <%= unless @instance.up do %>
      <%= if @instance.settings && @instance.settings.maintenance_mode == true do %>
        <span class="badge badge-secondary">Maintenance</span>
      <% else %>
        <span class="badge badge-warning">Down</span>
      <% end %>
    <% end %>
    <%= if @instance.signup == true do %>
      <span class="badge smaller badge-pill badge-success">Open Registrations</span>
    <% end %>
    <%= if @instance.signup == false do %>
      <span class="badge smaller badge-pill badge-dark">Closed Registrations</span>
    <% end %>
  <% end %>
</h2>
