/* This file is for your main application css. */

#tabz h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.chart{
    width: 33%;
    text-align:center;
    display: inline-block;
}

.miniGraph {
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;

  src: url(/fonts/WorkSans-Regular.woff2) format('woff2'), url(/fonts/WorkSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/WorkSans-SemiBold.woff2) format('woff2'), url(/fonts/WorkSans-SemiBold.ttf) format('ttf');
}


/* FF fix for .table.table-responsive */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

* {
  font-family: 'Work Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a.active {
  font-weight: bold;
}

.badge.badge-up-true {
  background-color: green;
}
.badge.badge-up-false {
  background-color: red;
}

footer {
  margin-top: 4rem;
  font-size: 1.2rem;
}
header.header h1 a {
  line-height: 71px;
}
header.header h1 a:hover {
  color: #d64d4d;
  text-decoration: none;
}
header.header h1 > a > img {
  height: 71px;
}

thead, th {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  background: #fff;
}

p.server-info {
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid grey;
}

ul.filters {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
ul.filters > li.filter {
}
ul.filters > li.filter strong::after {
  content: ":";
  font-weight: normal;
}
ul.filters > li.filter > ul.list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}
ul.filters > li.filter > ul.list > li {
  display: inline;
  color: grey;
  margin-left: 0;
  margin-right: 0;
}
ul.filters > li.filter > ul.list > li:not(:last-child):after {
  content: "|";
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: grey;
}

